:root{
    --var-cor-branca: #ffffff;
    --var-cor-amarelo-primario: #EBC894;
    --var-cor-azul-escuro: #00114C;
    --var-cor-creme-claro: #EBE0CE;
    --var-cor-amarelo-secundario: #D9C583;
    --var-cor-creme-escuro: #F0E1CE;
    --var-branco-creme: #F7F7F7;
    --var-cor-cinza-cinza: #707070;
    --var-cor-azul-claro: #00114CDB;
    --var-cor-preta: #000000;
}